libLinux_x86_64/*
*.o
*.a
*.cache
*.log
.vscvode/*
share/pretop
share/demo
share/mkidx
share/mkinp
share/report
.vscode/ipch/e801acb014501c52/mmap_address.bin
.vscode/ipch/10842e65e3ff8bca/mmap_address.bin
.vscode/ipch/42c667f6f3f206bf/memory.ipch
.vscode/ipch/42c667f6f3f206bf/mmap_address.bin
.vscode/ipch/6335e2d3f370bc34/mmap_address.bin
.vscode/ipch/a1a85cd1b6f866fe/mmap_address.bin
.vscode/ipch/a1a85cd1b6f866fe/perror.ipch
.vscode/ipch/c920c4c84a54c3d5/getopt.ipch
.vscode/ipch/c920c4c84a54c3d5/mmap_address.bin
.vscode/ipch/ddffbf7571379eb3/mmap_address.bin
.vscode/ipch/e801acb014501c52/dataset.ipch
